.section-focus {
  padding: 80px 0 40px 0;
  overflow-x: hidden;

  /* Tablet*/
  @media (max-width: 1199px) {
    padding: 50px 0 20px 0;
  }

  /* Mobile */
  @media (max-width: 899px) {
    padding: 50px 0 0 0;
  }

  /*xs Mobile */
  @media (max-width: 599px) {
    padding: 40px 0 40px 0;
  }
}

.section-focus__row {
  display: flex;
  justify-content: space-between;
  column-gap: 130px;

  /* Tablet*/
  @media (max-width: 1199px) {
    column-gap: 30px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    flex-direction: row-reverse;
  }

  /*xs Mobile */
  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.section-focus__row>* {
  flex-shrink: 0;
}

.section-focus__img {

  /* Tablet*/
  @media (max-width: 1199px) {
    width: 420px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 170px;

    img {
      width: 415px;
      max-width: unset;
      height: auto;
    }
  }

  /*xs Mobile */
  @media (max-width: 599px) {
    width: 100%;
    margin-bottom: 10px;

    img {
      max-width: 100%;
    }
  }
}

.section-focus__content {
  padding-top: 28px;
  width: 470px;

  /* Tablet*/
  @media (max-width: 1199px) {
    padding-top: 20px;
    width: 420px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    padding-top: 0px;
    width: 370px;

  }

  /*xs Mobile */
  @media (max-width: 599px) {
    text-align: center;
    width: 100%;
  }
}

.section-focus__header {
  margin-bottom: 30px;

  /* Tablet*/
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;

  /* Tablet*/
  @media (max-width: 1199px) {
    margin-bottom: 20px;
  }

  /*xs Mobile */
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
}

.section-focus__p {
  width: 400px;
  color: $pColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;

  p+p {
    margin-top: 15px;
  }

  /* Tablet*/
  @media (max-width: 1199px) {
    width: 420px;
  }

  /* Mobile */
  @media (max-width: 899px) {
    width: 370px;
    line-height: 1.7;
  }

  /*xs Mobile */
  @media (max-width: 599px) {
    width: 100%;
  }
}